{layout="layouts/site"}
{layout:set name='og_title'}De Hersengarage van Zapruder Inc.{/layout:set}
{layout:set name='og_url'}{path='{segment_1}'}{/layout:set}
{layout:set name='og_description'}Een andere kijk op de wereld en ons universum{/layout:set}
{layout:set:append name='og_image'}{theme_user_folder_url}hersengarage/asset/img/poster-crop.jpg{/layout:set:append}
{layout:set name='page_type'}forum{/layout:set}
{layout:set name='seo_desc'}Een andere kijk op de wereld en ons universum{/layout:set}
{layout:set name='keywords'}{/layout:set}

<aside>
	{embed="embeds/logo"}
	{embed="embeds/categories"}
</aside>

<main>
	{embed="embeds/title"}

	{if segment_2!=""}
		<h1>#{segment_2}</h1>
		<section>
		{exp:hash_tag hash_tag="{segment_2}" field_id="1"}
			<article class="linkdump">
				<header>
					<h3><a href="{path='{channel_name}/{url_title}'}">{title}</a></h3>
				</header>
				<p>
					<span class="date"><b>{entry_date format='%j-%n-%Y'}</b></span>
					{field_id_1}}
				</p>
			</article>
		{/exp:hash_tag}
		</section>
	{if:else}
		<div id="index">
			<ul>
				{exp:hash_tag:index item_format="<li><a href='/{segment_1}/%1$s'>%1$s (%2$s)</a></li>" separator_format="</ul><h3>%1$s</h3><ul>"}
			</ul>
		</div>
	{/if}
</main>
