<!doctype html>
<html lang="{lang}">
<head>
	<meta charset="utf-8">
	<meta name="description" content="{site_description}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="{site_name}">
	<meta property="og:title" content="{layout:og_title}">
	<meta property="og:url" content="{layout:og_url}">
	<meta property="og:description" content="{layout:og_description}">
	<meta property="og:image" content="{layout:og_image}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{layout:og_title}">
	<meta name="twitter:url" content="{layout:og_url}">
	<meta name="twitter:description" content="{layout:og_description}">
	<meta name="twitter:image" content="{layout:og_image}">
	<meta name="keywords" content="{layout:keywords}">
	{layout:ld_json}
	<link rel="stylesheet" type="text/css" href="{normalize-url}">
	<link rel="stylesheet" type="text/css" href="{stylesheet-url}">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="alternate" type="application/rss+xml" title="Artikelen" href="{path='rss'}">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<title>{site_name}</title>
</head>
<body id="page-type-{layout:page_type}">
<div>
	{layout:contents}
</div>
<footer>Responsive design en CSS3/PHP/template coding door Patrick Savalle</footer>
</body>
</html>
