{layout="layouts/site"}
{layout:set name='og_title'}De Hersengarage van Zapruder Inc.{/layout:set}
{layout:set name='og_url'}{path='site_index'}{/layout:set}
{layout:set name='og_description'}Een andere kijk op de wereld en ons universum{/layout:set}
{layout:set:append name='og_image'}{theme_user_folder_url}hersengarage/asset/img/poster-crop.jpg{/layout:set:append}
{layout:set name='page_type'}forum{/layout:set}
{layout:set name='seo_desc'}Een andere kijk op de wereld en ons universum{/layout:set}
<aside>
	{embed="embeds/logo"}
	{embed="embeds/categories"}
</aside>
<main style="overflow: hidden">
	{embed="embeds/title"}
	<img src="{theme_user_folder_url}hersengarage/asset/img/poster-crop.jpg" alt="" width="100%">
	<h1>404 / pagina niet gevonden</h1>
</main>
